<div class=" mb-3 product col-4">
    <div class="card  text-center" style="height: 100%;">
        <img src={{img}} class="card-img-top" alt="{{name}} product">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text text-muted">{{price}}</p>
          <p class="card-text">{{desc}}</p>
          <a href="products/{{name.lower()}}.html" class="btn btn-outline-dark">Order Now</a>
        </div>
    </div>
</div>