* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #A2D2FF;
    margin: 0 auto;
    width: 80%;
}

h1,
h2 {
    color: #334257;
}

img {
    width: 50%;
    border-radius: 15px;
}

a {
    color: #334257;
}